.admin-submit {
    border: 1px solid #454545;
    border-radius: 25px;
    background: transparent;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
    color: #F5F5DC;
    outline: none;
    cursor: pointer;
    width: 125px;
    height: 35px;
}

.admin-submit:hover {
    background: #c6baba;
    color: #2e2b29;
}

