.table-container {
    margin-top: 20px;
}

#table-view {
    width: 100%;
    height: 170px;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 25px;
    color: #F5F5DC;
    background: #2e2b29;
    text-align: center;
}

#table-view-header:nth-child(1),#table-view-header:nth-child(2),#table-view-header:nth-child(3) {
    color: #ffccbb;
    background: #2e2b29;
    text-align: center;
}

#action-edit, #action-delete {
    border: 1px solid #454545;
    border-radius: 25px;
    background: transparent;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
    font-weight: 100;
    color: #F5F5DC;
}

#action-edit:hover, #action-delete:hover {
    background: #c6baba;
    color: #2e2b29;
}