.container-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 5%;
}

.img-circle {
    width: auto;
    height: 100%;
}

#root > div > div.container > div.lightbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
}

body > div:nth-child(6) > div > div.lightbox-title-content > div.lightbox-title,
body > div:nth-child(6) > div > div.lightbox-title-content > div.lightbox-description > div {
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
    font-weight: 100;
    line-height: 22px;
}

body > div:nth-child(5) > div > span > div > div.lightbox-modifiers-box > button:nth-child(5),
body > div:nth-child(6) > div > span > div > div.lightbox-modifiers-box > button:nth-child(5) > svg > path{
    display: none;
}

@media screen and (min-width: 576px) {
    .container-img {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    #root > div > div.container > div.lightbox-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 600px;
    }

    .container-img {
        width: 200px;
        height: 200px;
        border: 1px solid #454545;
        border-radius: 50%;
        overflow: hidden;
        margin: 15px 50px;
    }

    .img-circle {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }
}

