.container-photo {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.photo {
    margin-bottom: 20px;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

img {
    width: 90%;
    margin: 0 5%;
}

#SRLLightbox > div > div.SRLContainer.css-1b678za > div.SRLElementContainer.css-1xk5efh > div > img {
    pointer-events: none;
}

.container-loader {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#loader {
    background: transparent;
    border: 1px solid #454545;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
    font-weight: 100;
    color: #F5F5DC;
    padding: 9px 35px;
}

@media screen and (min-width: 576px) {
    img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container-photo {
        height: 450px;
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    .container-photo {
        width: 900px;
    }
}

@media screen and (min-width: 1200px) {
    .container-photo{
        width: 1200px;
        height: 430px;
        margin-top: 20px;
    }

    img {
        margin: 0;
    }
}

@media screen and (min-width: 1400px) {
    .container-photo {
        width: 1600px;
        height: 550px;
    }
}


