.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    background: #2e2b29;
}

.sign {
    justify-content: center;
}

.admin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 90%;
    height: 250px;
    border: 1px solid #454545;
    border-radius: 25px;
}

.wrapper-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.admin-btn {
    display: flex;
    justify-content: space-between;
}

.admin-btn a {
    text-decoration: none;
    color: #e5dac3;
    margin-top: 5px;
}

.error {
    color: #f87956
}


@media screen and (min-width: 576px) {
    .admin {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .admin {
        width: 55%;
    }
}

@media screen and (min-width: 1200px) {
    .admin {
        width: 500px;
        border-radius: 50px;
    }
}