@font-face {
    font-family: Caveat;
    src: url('../fonts/Caveat-Regular.ttf') format("truetype");
}

@font-face {
    font-family: CormorantInfant;
    src: url('../fonts/CormorantInfant-LightItalic.ttf') format("truetype");
}

@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-LightItalic.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    position: relative;
    min-height: 830px;
    min-width: 320px;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    color: #e5dac3;
    background: #2e2b29;
    margin: 0 10px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.home img {
    width: 70%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.error-message {
    text-align: center;
}

#root > div > div:nth-child(1) > div {
    font-size: 20px;
    text-align: center;
}

#rcc-confirm-button {
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
}

@media screen and (min-width: 576px) {
    .home img {
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .home img {
        width: 25%;
    }

    .home {
        height: 600px;
    }
}

@media screen and (min-width: 992px) {
    .home img {
        width: 15%;
        margin: 0 16%;
    }
}

@media screen and (min-width: 1200px) {
    .body {
        height: 100vh;
    }
}
