@font-face {
    font-family: Caveat;
    src: url('../fonts/Caveat-Regular.ttf') format("truetype");
}

@font-face {
    font-family: CormorantInfant;
    src: url('../fonts/CormorantInfant-LightItalic.ttf') format("truetype");
}

@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-LightItalic.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    color: #e5dac3;
    background: #2e2b29;
}

.home {
    display: flex;
    justify-content: center;
}

.home img {
    width: 15%;
    margin: 0 16%;
}

