.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 81vh;
}

.contact-social {
    padding: 0 5%;
}

.wrapper-social:nth-child(odd) {
    align-items: flex-start;
}

.wrapper-social:nth-child(even) {
    align-items: flex-end;
}

.wrapper-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}

.wrapper-social span:first-child {
    line-height: 1.5;
    border-top: 1px solid;
}

.wrapper-social span {
    margin-bottom: 5px;
}

.wrapper-social span a {
    text-decoration: none;
    font-size: 20px;
}

.wrapper-social span a:hover {
    color: #fde482;
}

.wrapper-social span:last-child {
    margin-bottom: 30px;
}

@media screen and (min-width: 568px) {
    .contact {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .contact-social {
        margin-top: 4%;
    }

    .wrapper-social {
        align-items: center;
        height: 100px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper-social span:first-child {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
    .contact {
        height: 60vh;
        align-items: flex-start;
        margin: 10% 0;
    }
}

@media screen and (min-width: 1200px) {
    .contact {
        height: 47vh;
    }
}
