.pages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.home {
    height: 80vh;
}

h1 {
    font-weight: 100;
    font-size: 30px;
}

.crow {
    width: 200px;
    transform: translate(0%,50%);
}

.crow, h1, .name-site {
    z-index: 999;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

@media screen and (min-width: 568px) {
    .home {
        height: 90vh;
    }

    .crow {
        transform: translate(0%, 0%);
    }
}

@media screen and (min-width: 768px) {
    .home {
        height: 110vh;
    }

    h1 {
        font-size: 40px;
    }

    .name-site, h1 {
        align-self: flex-start;
        padding-left: 25px;
    }
}

@media screen and (min-width: 992px) {
    .home {
        height: 87vh;
    }

    .crow {
        transform: translate(0%, 50%);
    }
}

@media screen and (min-width: 1200px) {
    .home {
        height: 83.8vh;
    }

    .crow {
        width: 300px;
    }
}

