.form-sing {
    height: 200px;
}

.admin-btn {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.link-admin {
    text-decoration: none;
}

.link-admin:hover {
    color: #fde482;
}

.signUp {
    height: 290px;
}

@media screen and (min-width: 568px) {
    .admin-btn {
        width: 70%;
    }

    .signUp {
        height: 80vh;
    }
}

@media screen and (min-width: 768px) {
    .form-sing {
        width: 75%;
        height: 200px;
    }

    .signUp {
        width: 75%;
        height: 50vh;
    }
}

@media screen and (min-width: 992px) {
    .form-sing, .signUp {
        width: 55%;
    }
}

@media screen and (min-width: 1200px) {
    .form-sing {
        width: 30%;
        margin-top: 20px;
    }

    .signUp {
        width: 30%;
    }
}