.form-sing {
    height: 200px;
}

.admin-btn {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.link-admin {
    text-decoration: none;
}

.link-admin:hover {
    color: #be94a0;
}

.signUp {
    height: 290px;
}