.slider-home {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.item-slider {
    position: fixed;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: imageAnimation 10s linear infinite 0s;
}

@keyframes imageAnimation {
    0% {
        animation-timing-function: linear;
    }
    10% {
        transform: scale(1.05);
        animation-timing-function: linear;
    }
    20% {
        transform: scale(1.075);
        animation-timing-function: linear;
    }
    30% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1.075);
        animation-timing-function: linear;
    }
    80% {
        transform: scale(1.05);
        animation-timing-function: linear;
    }
    100% {
        animation-timing-function: linear;
    }
}

