.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 87%;
    list-style: none;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.link:hover, .exit:hover{
    transform: scale(1.5);
    color: #fde482;
}

.exit {
    font: unset;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
}

